[submodule "level-6-wd201"]
	path = level-6-wd201
	url = https://github.com/Aravind25100/todo_manager
[submodule "level-5"]
	path = level-5
	url = https://github.com/Aravind25100/todo_manager.git
[submodule "Recreate_todo_interface"]
	path = Recreate_todo_interface
	url = https://github.com/Aravind25100/Recreate_todo.git
[submodule "level-7"]
	path = level-7
	url = https://github.com/Aravind25100/todo_manager.git
